@mixin font($f-name, $f-style, $f-weight, $f-url, $f-format) {

  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url) format($f-format);
  }
}
@include font('sf-pro-display-100', Thin, 100, '../fonts/SFProDisplay/SFProDisplay-Thin.eot', 'eot');
@include font('sf-pro-display-100', Thin, 100, '../fonts/SFProDisplay/SFProDisplay-Thin.ttf', 'ttf');
@include font('sf-pro-display-100', Thin, 100, '../fonts/SFProDisplay/SFProDisplay-Thin.woff', 'woff');
@include font('sf-pro-display-100', Thin, 100, '../fonts/SFProDisplay/SFProDisplay-Thin.woff2', 'woff2');

@include font('sf-pro-display-200', Ultra Light, 200, '../fonts/SFProDisplay/SFProDisplay-UltraLight.eot', 'eot');
@include font('sf-pro-display-200', Ultra Light, 200, '../fonts/SFProDisplay/SFProDisplay-UltraLight.ttf', 'ttf');
@include font('sf-pro-display-200', Ultra Light, 200, '../fonts/SFProDisplay/SFProDisplay-UltraLight.woff', 'woff');
@include font('sf-pro-display-200', Ultra Light, 200, '../fonts/SFProDisplay/SFProDisplay-UltraLight.woff2', 'woff2');

@include font('sf-pro-display-300', lighter, 300, '../fonts/SFProDisplay/SFProDisplay-Light.eot', 'eot');
@include font('sf-pro-display-300', lighter, 300, '../fonts/SFProDisplay/SFProDisplay-Light.ttf', 'ttf');
@include font('sf-pro-display-300', lighter, 300, '../fonts/SFProDisplay/SFProDisplay-Light.woff', 'woff');
@include font('sf-pro-display-300', lighter, 300, '../fonts/SFProDisplay/SFProDisplay-Light.woff2', 'woff2');

@include font('sf-pro-display-400', Regular, 400, '../fonts/SFProDisplay/SFProDisplay-Regular.eot', 'eot');
@include font('sf-pro-display-400', Regular, 400, '../fonts/SFProDisplay/SFProDisplay-Regular.ttf', 'ttf');
@include font('sf-pro-display-400', Regular, 400, '../fonts/SFProDisplay/SFProDisplay-Regular.woff', 'woff');
@include font('sf-pro-display-400', Regular, 400, '../fonts/SFProDisplay/SFProDisplay-Regular.woff2', 'woff2');

@include font('sf-pro-display-500', Medium, 500, '../fonts/SFProDisplay/SFProDisplay-Medium.eot', 'eot');
@include font('sf-pro-display-500', Medium, 500, '../fonts/SFProDisplay/SFProDisplay-Medium.ttf', 'ttf');
@include font('sf-pro-display-500', Medium, 500, '../fonts/SFProDisplay/SFProDisplay-Medium.woff', 'woff');
@include font('sf-pro-display-500', Medium, 500, '../fonts/SFProDisplay/SFProDisplay-Medium.woff2', 'woff2');

@include font('sf-pro-display-600', Semibold, 600, '../fonts/SFProDisplay/SFProDisplay-Semibold.eot', 'eot');
@include font('sf-pro-display-600', Semibold, 600, '../fonts/SFProDisplay/SFProDisplay-Semibold.ttf', 'ttf');
@include font('sf-pro-display-600', Semibold, 600, '../fonts/SFProDisplay/SFProDisplay-Semibold.woff', 'woff');
@include font('sf-pro-display-600', Semibold, 600, '../fonts/SFProDisplay/SFProDisplay-Semibold.woff2', 'woff2');

@include font('sf-pro-display-700', Bold, 700, '../fonts/SFProDisplay/SFProDisplay-Bold.eot', 'eot');
@include font('sf-pro-display-700', Bold, 700, '../fonts/SFProDisplay/SFProDisplay-Bold.ttf', 'ttf');
@include font('sf-pro-display-700', Bold, 700, '../fonts/SFProDisplay/SFProDisplay-Bold.woff2', 'woff');
@include font('sf-pro-display-700', Bold, 700, '../fonts/SFProDisplay/SFProDisplay-Bold.woff2', 'woff2');

@include font('sf-pro-display-800', Heavy, 800, '../fonts/SFProDisplay/SFProDisplay-Heavy.eot', 'eot');
@include font('sf-pro-display-800', Heavy, 800, '../fonts/SFProDisplay/SFProDisplay-Heavy.ttf', 'ttf');
@include font('sf-pro-display-800', Heavy, 800, '../fonts/SFProDisplay/SFProDisplay-Heavy.woff2', 'woff');
@include font('sf-pro-display-800', Heavy, 800, '../fonts/SFProDisplay/SFProDisplay-Heavy.woff2', 'woff2');

@include font('sf-pro-display-900', Black, 900, '../fonts/SFProDisplay/SFProDisplay-Black.eot', 'eot');
@include font('sf-pro-display-900', Black, 900, '../fonts/SFProDisplay/SFProDisplay-Black.ttf', 'ttf');
@include font('sf-pro-display-900', Black, 900, '../fonts/SFProDisplay/SFProDisplay-Black.woff2', 'woff');
@include font('sf-pro-display-900', Black, 900, '../fonts/SFProDisplay/SFProDisplay-Black.woff2', 'woff2');

